@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>William Monahan - Application Developer with more than 15 years experience in the finance, mortgage, and health care industries. Technologies include c#.Net, SQL Server, Win Forms, ASP.Net MVC, JQuery, JavaScript, VUEJS application framework, and web APIs. </p>
