@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    5794 Morland Drive North<br />
    Adamstown, MD 21710<br />
    <abbr title="Phone">P:</abbr>
    631.960.5489
</address>

<address>
    <strong>Support:</strong> <a href="mailto:William.F.Monahan@gmail.com">William.F.Monahan@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:William.F.Monahan@gmail.com">William.F.Monahan@gmail.com</a><br />
</address>
