@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-3">
        <div class="InfoBox3d">
            <h2>Technology that Grows with Your Business</h2>
            <ul>
                <li>Web Applications</li>
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <div class="InfoBox3d">
            <h2>Deploy To the Cloud</h2>
            <ul>
                <li>Manage Security with Azure Active Directory</li>
                <li>Single Sign On using social services</li>
                <li>Always On - Always Available</li>
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <div class="InfoBox3d">
            <h2>Microsoft SQL Server Databases</h2>
            <ul></ul>
        </div>
    </div>
    <div class="col-md-3">
        <div class="InfoBox3d">
            <h2>Web Services</h2>
            <ul></ul>
        </div>
    </div> 
</div> @*row*@
